In [1]:
import networkx as nx
from bs4 import BeautifulSoup
import re
import pandas as pd

In [ ]:
#G = nx.Graph()
#x = pd.read_csv("sahisti_data\\from_FIDE\\players_list\\players_list_foa_tst.txt")

In [24]:
path = "sahisti_data\\from_FIDE\\players_list\\players_list_foa_tst.txt"
with open(path, 'r') as myfile:
    for line in myfile:
        rez = re.search("^(?P<id>\d+)\s*(?P<label>[ -~]*?)\s*?(?P<country>[A-Z]{3})\s([M|F])[^\d]{32}(?P<rating>\d\d\d\d)?(.*?)(\d\d\d\d)(?P<activity>[^\d]*)$", line)
        print("Rezultat:", rez)
        if rez:
            print("ID:",rez.group('id'))
            print("label:", rez.group('label'))
            print("country:", rez.group('country'))
            print("rating:", rez.group('rating'))
            print("activity:", rez.group('activity'))

Rezultat: None
Rezultat: <re.Match object; span=(0, 163), match='366127061      , Mayilsamy K                     >
ID: 366127061
label: , Mayilsamy K
country: FID
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10224084       A B M Hasibuzzaman, Tapan         >
ID: 10224084
label: A B M Hasibuzzaman, Tapan
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25121731       A C J John                        >
ID: 25121731
label: A C J John
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='35077023       A Chakravarthy                    >
ID: 35077023
label: A Chakravarthy
country: IND
rating: 1151
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10207538       A E M, Doshtagir                  >
ID: 10207538
label: A E M, Doshtagir
country: BAN
rating: 1840
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='5716365        A Hamid, Harman                   >
ID: 5716365
label: A Hamid, Harman
country: MAS
rating: 1325
activity:

Rezultat: <re.Match object; span=(0, 163), match='5765331        A Jailani, Nia Natasha            >
ID: 5765331
label: A Jailani, Nia Natasha
country: MAS
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='10207546       A K M Aminul, Islam               >
ID: 10207546
label: A K M Aminul, Islam
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10217916       A K M Arif, Hossain               >
ID: 10217916
label: A K M Arif, Hossain
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10215727       A K M Jane, Alam                  >
ID: 10215727
label: A K M Jane, Alam
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10207716       A K M Manjurul, Alam              >
ID: 10207716
label: A K M Manjurul, Alam
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10206612       A K M, Sourab                     >
ID: 10206612
label: A K M, Sourab
country: BAN
rating: 1708
activity:

Rezultat: <re.Match object; span=(0, 163), match='5045886        A K, Kalshyan                     >
ID: 5045886
label: A K, Kalshyan
country: IND
rating: 1826
activity:

Rezultat: <re.Match object; span=(0, 163), match='46622110       A Krishna Pranav Reddy            >
ID: 46622110
label: A Krishna Pranav Reddy
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='8605360        A La, Teng Hua                    >
ID: 8605360
label: A La, Teng Hua
country: CHN
rating: 1915
activity:   wi

Rezultat: <re.Match object; span=(0, 163), match='10238387       A Q M Salahuddin, Khan            >
ID: 10238387
label: A Q M Salahuddin, Khan
country: BAN
rating: 1520
activity:

Rezultat: <re.Match object; span=(0, 163), match='10238530       A R M Shadman , Sakib             >
ID: 10238530
label: A R M Shadman , Sakib
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10240080       A R Zahangir, Alam                >
ID: 10240080
label: A R Zahangir, Alam
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='7109881        A Rafiq                           >
ID: 7109881
label: A Rafiq
country: INA
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5786690        A Rahim, Mohd Akmal               >
ID: 5786690
label: A Rahim, Mohd Akmal
country: MAS
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5716373        A Rajah, Abdul Shukor             >
ID: 5716373
label: A Rajah, Abdul Shukor
country: MAS
rating: 1809
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10231447       A S M Khalid, Hasan               >
ID: 10231447
label: A S M Khalid, Hasan
country: BAN
rating: 1585
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10236988       A S M Nasimul, Ghani              >
ID: 10236988
label: A S M Nasimul, Ghani
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='21512957       A Totol                           >
ID: 21512957
label: A Totol
country: FID
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='366194799      A, Santhosh                       >
ID: 366194799
label: A, Santhosh
country: FID
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='124136061      A, Sergey                         >
ID: 124136061
label: A, Sergey
country: FID
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5080444        A, Sohita                         >
ID: 5080444
label: A, Sohita
country: IND
rating: 1447
activity:   wi

Rezultat: <re.Match object; span=(0, 163), match='5700299        A, Suria, Affendi                 >
ID: 5700299
label: A, Suria, Affendi
country: MAS
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='4804929        A-ALI,Sali Abbas Abdulzahra       >
ID: 4804929
label: A-ALI,Sali Abbas Abdulzahra
country: IRQ
rating: 1919
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='25049330       A. Amburose, Arokyaraj            >
ID: 25049330
label: A. Amburose, Arokyaraj
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='116293686      A. Eliyan, Ibrahim                >
ID: 116293686
label: A. Eliyan, Ibrahim
country: PLE
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='7117884        A. HANIF                          >
ID: 7117884
label: A. HANIF
country: INA
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10220518       A. K. M., Kamruzzaman             >
ID: 10220518
label: A. K. M., Kamruzzaman
country: BAN
rating: 1839
activity:

Rezultat: <re.Match object; span=(0, 163), match='5007690        A. Md. Imran                      >
ID: 5007690
label: A. Md. Imran
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5706068        A. Nashir, Mohd Khairul Nazrin    >
ID: 5706068
label: A. Nashir, Mohd Khairul Nazrin
country: MAS
rating: 1878
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='5728231        A. Rahman, Nurul Akmal            >
ID: 5728231
label: A. Rahman, Nurul Akmal
country: MAS
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='5757363        A. Rahman, Shafie                 >
ID: 5757363
label: A. Rahman, Shafie
country: MAS
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10225889       A. S. M. , Nishat                 >
ID: 10225889
label: A. S. M. , Nishat
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5727642        A. Yusuf, Sophian                 >
ID: 5727642
label: A. Yusuf, Sophian
country: MAS
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5754445        A. Zani, Najwa Asysikin           >
ID: 5754445
label: A. Zani, Najwa Asysikin
country: MAS
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='5020832        A., Subramanya                    >
ID: 5020832
label: A., Subramanya
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10627383       A.amin, Mohamed                   >
ID: 10627383
label: A.amin, Mohamed
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5700230        A.B, Muhd Yusop                   >
ID: 5700230
label: A.B, Muhd Yusop
country: MAS
rating: 1525
activity:

Rezultat: <re.Match object; span=(0, 163), match='5732913        A.D, Halleyrie                    >
ID: 5732913
label: A.D, Halleyrie
country: MAS
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10201971       A.f.m., Mahfuzul Haque            >
ID: 10201971
label: A.f.m., Mahfuzul Haque
country: BAN
rating: 1645
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10642021       A.fahmy, Hossam                   >
ID: 10642021
label: A.fahmy, Hossam
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10627391       A.farag, Amr                      >
ID: 10627391
label: A.farag, Amr
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10642030       A.ibrahem, Ibrahem                >
ID: 10642030
label: A.ibrahem, Ibrahem
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='11201037       A.jabbar, Mohammed                >
ID: 11201037
label: A.jabbar, Mohammed
country: BRN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10229159       A.jm.shaheduzzaman, Joni          >
ID: 10229159
label: A.jm.shaheduzzaman, Joni
country: BAN
rating: 1583
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10202650       A.k. Azad, Akand                  >
ID: 10202650
label: A.k. Azad, Akand
country: BAN
rating: 1690
activity:

Rezultat: <re.Match object; span=(0, 163), match='10223010       A.k.m, Nayamul Haque              >
ID: 10223010
label: A.k.m, Nayamul Haque
country: BAN
rating: 1554
activity:

Rezultat: <re.Match object; span=(0, 163), match='10210997       A.K.M. Mehfuz                     >
ID: 10210997
label: A.K.M. Mehfuz
country: BAN
rating: 2015
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='10210849       A.k.m., Mehfuz                    >
ID: 10210849
label: A.k.m., Mehfuz
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='9204571        A.khalifa, Mohamed                >
ID: 9204571
label: A.khalifa, Mohamed
country: LBA
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='11201177       A.lateef, Ahmad                   >
ID: 11201177
label: A.lateef, Ahmad
country: BRN
rating: 1918
activity:

Rezultat: <re.Match object; span=(0, 163), match='11202483       A.lateef, Ahmed Ahmed             >
ID: 11202483
label: A.lateef, Ahmed Ahmed
country: BRN
rating: 1254
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='11201053       A.lateef, Islam                   >
ID: 11201053
label: A.lateef, Islam
country: BRN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='11201061       A.lateef, Mahmoud                 >
ID: 11201061
label: A.lateef, Mahmoud
country: BRN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='11201070       A.lateef, Noor                    >
ID: 11201070
label: A.lateef, Noor
country: BRN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10637400       A.mohamed, Abdel Rahman           >
ID: 10637400
label: A.mohamed, Abdel Rahman
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10205330       A.s.m. Mehdi, Jabir               >
ID: 10205330
label: A.s.m. Mehdi, Jabir
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10229450       A.s.m. Nibraz, Monir              >
ID: 10229450
label: A.s.m. Nibraz, Monir
country: BAN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='10602917       A.sameeaa, Mohamed H.             >
ID: 10602917
label: A.sameeaa, Mohamed H.
country: EGY
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='21509484       A.sandigan, Thom                  >
ID: 21509484
label: A.sandigan, Thom
country: PHI
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='5020859        A.v., Bhaskara Rao                >
ID: 5020859
label: A.v., Bhaskara Rao
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='11203722       A.Wahed, Ali                      >
ID: 11203722
label: A.Wahed, Ali
country: BRN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='7109229        Aa Djoni Kosanda                  >
ID: 7109229
label: Aa Djoni Kosanda
country: INA
rating: 1986
activity:

Rezultat: <re.Match object; span=(0, 163), match='25682938       Aaazad G Acharya                  >
ID: 25682938
label: Aaazad G Acharya
country: IND
rating: 1315
activity:

Rezultat: <re.Match object; span=(0, 163), match='24663832       Aab, Manfred                      >
ID: 24663832
label: Aab, Manfred
country: GER
rating: 1706
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='9013300        AABADLI YOUSSEF                   >
ID: 9013300
label: AABADLI YOUSSEF
country: MAR
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='9010653        Aabadli, Alaa                     >
ID: 9010653
label: Aabadli, Alaa
country: MAR
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='1444255        Aabank, Dennis Bonet              >
ID: 1444255
label: Aabank, Dennis Bonet
country: DEN
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='42555663       Aabd, Arya                        >
ID: 42555663
label: Aabd, Arya
country: IRI
rating: 1272
activity:

Rezultat: <re.Match object; span=(0, 163), match='11504919       Aabed,mohamad                     >
ID: 11504919
label: Aabed,mohamad
country: PLE
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='42591910       Aabedi, Forsatali                 >
ID: 42591910
label: Aabedi, Forsatali
country: IRI
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='12524662       Aabedi, Saeed                     >
ID: 12524662
label: Aabedi, Saeed
country: IRI
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='42538947       Aabedpoor, Maryam                 >
ID: 42538947
label: Aabedpoor, Maryam
country: IRI
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='1701991        Aaberg, Anton                     >
ID: 1701991
label: Aaberg, Anton
country: SWE
rating: 2360
activity:

Rezultat: <re.Match object; span=(0, 163), match='1727443        Aaberg, Mikael                    >
ID: 1727443
label: Aaberg, Mikael
country: SWE
rating: 1326
activity:

Rezultat: <re.Match object; span=(0, 163), match='22569812       Aabestar, Hasan                   >
ID: 22569812
label: Aabestar, Hasan
country: IRI
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25697072       Aabha Kapoor                      >
ID: 25697072
label: Aabha Kapoor
country: IND
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='25107364       Aabha Singh                       >
ID: 25107364
label: Aabha Singh
country: IND
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='35041967       Aabhas                            >
ID: 35041967
label: Aabhas
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25734474       Aabhash Gurung                    >
ID: 25734474
label: Aabhash Gurung
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25033166       Aabid Amin                        >
ID: 25033166
label: Aabid Amin
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25766945       Aabid Sheeraz                     >
ID: 25766945
label: Aabid Sheeraz
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='1513966        Aabid, Ryaad                      >
ID: 1513966
label: Aabid, Ryaad
country: NOR
rating: 1778
activity:   i

Rezultat: <re.Match object; span=(0, 163), match='2840383        Aabid, Shukri                     >
ID: 2840383
label: Aabid, Shukri
country: ISR
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25659375       Aabir Mukherjee                   >
ID: 25659375
label: Aabir Mukherjee
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='1407589        Aabling-Thomsen, Jakob            >
ID: 1407589
label: Aabling-Thomsen, Jakob
country: DEN
rating: 2380
activity:

Rezultat: <re.Match object; span=(0, 163), match='45050988       Aachal Naik                       >
ID: 45050988
label: Aachal Naik
country: IND
rating: None
activity:   w

Rezultat: <re.Match object; span=(0, 163), match='25748661       Aadamelli Ramesh                  >
ID: 25748661
label: Aadamelli Ramesh
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25076760       Aadarsh Agarwala                  >
ID: 25076760
label: Aadarsh Agarwala
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25069730       Aadarsh Kataria                   >
ID: 25069730
label: Aadarsh Kataria
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='45051909       Aadarsh Kumar M E                 >
ID: 45051909
label: Aadarsh Kumar M E
country: IND
rating: 1413
activity:

Rezultat: <re.Match object; span=(0, 163), match='25765701       Aadarsh Mishra                    >
ID: 25765701
label: Aadarsh Mishra
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25911872       Aadarsh Ravindradas               >
ID: 25911872
label: Aadarsh Ravindradas
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 163), match='25639579       Aadarsh Singh                     >
ID: 25639579
label: Aadarsh Singh
country: IND
rating: None
activity:

Rezultat: <re.Match object; span=(0, 162), match='45094586       Aadarsh Sridharan                 >
ID: 45094586
label: Aadarsh Sridharan
country: IND
rating: 1442
activity: